// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/dist/css/adminlte.css";
@import "~@fortawesome/frontawesome-free/css/all.css";
@import "~@fortawesome/frontawesome-free/css/brands.css";
@import "~@fortawesome/frontawesome-free/css/regular.css";
@import "~@fortawesome/frontawesome-free/css/solid.css";
@import "~@fortawesome/frontawesome-free/css/fontawesome.css";

.navbar-laravel{
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
